<p>/Home/Index</p>
<div id="playerDialog" style="display: none;">
    <p class="intro">You may play versus one or more comptuer opponents, or choose all computer players to watch<br />AI strategies battle it out.</p>
    <p class="container"><a href="#" id="addPlayer">Add Player</a></p>
    <div id="playerContainer">
                
    </div>
    
</div>